.menuimg{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

h1, h2, h3, ul{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-style: normal;
	font-variant: normal;
	text-align: center;
}

p {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	text-align: center;
}

#topbar-padding {
	width: 100%;
	background-color: #333333;
}

#topbar {
	font-size: 24px;
	position:relative;
	margin: auto;
	width: 90%;
}

ul#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	white-space: nowrap;
}

ul#header li {
	right: 0;
	color: white;
	padding: 10px;
	font-size: 20px;
}

ul#header li a {
	display: block;
	color: white;
	text-decoration: none;
}

ul#header li a:hover {
	text-decoration: underline;
	color: #EDEF85;
	cursor: pointer;
}

ul#header li input[type=text] {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-weight: bolder;
	transition: 0.5s;
	width: 400px;
	color: BLACK;
	font-size: 12px;
}

ul#header li input[type=text]:focus {
	background: #E6FCFF;
	transition: 0.5s;
}


ul#footer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	position: fixed;
	display: block;
	white-space: nowrap;
  right: 0;
  bottom: 0;
  left: 0;
}

ul#footer li {
	display: inline-grid;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}

ul#footer li a {
	text-align: center;
	color: white;
	text-decoration: none;
}

ul.menu {
	height: 100%;
	z-index:1;
	bottom: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	background-color: #f1f1f1;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li a {
	margin: 0;
	padding: 0;
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 20px;
	width: 200px;
	color: #000;
	border: 3px white solid;
}

ul.menu li a:hover {
	background-color: #555;
	color: #A5FEE3;
}

/*ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
}ddfljk

li{
float: left;
border-right: 2px solid #333333;
}

li a {
display: block;
color: white;
text-align: center;
padding: 10px 20px;
text-decoration: none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}*/

.user{
	float: right;
	display: block;
	border-right: none;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

table{
	/*max-width: 2px;*/
	 width:100%;
}

.twincols{
	width: 200px;
}

td, th{
	margin-top: 20px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	vertical-align: top;
	border: 1px solid #ededed;
	margin: 10px auto;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 3px;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.content {
	position:relative;
	margin: 10px auto;
	width: 90%;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 100px;
}

.container{
	position:static;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 50px;
}

.banner{
	padding: 10px 20px;
	margin: 0;
	background-color: #b31b1b;
}

.icon{
	width: 80%;
	height: auto;
	max-width: 200px;
}

#profile {
	padding-top: 20px;
	padding-right: 10px;
	margin-left: 10px;
	float: center;
	text-align: center;
}

#profile img {
	height: 250px;
	width: 300px;
}

.offerPhoto {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height:350px;
    width: 350px;
}

.requestPhoto {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height:350px;
    width: 350px;
}


#profile .name {
	font-size: 30px;
	font-weight: bold;
}

#profile .pastPosts a {
	background-color: #f1f1f1;
	color: black;
	font-size: 20px;
	padding: 14px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

input[type=submit] {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	margin:0px auto;
	color: #fff;
	border-radius: 2px;
	padding: 4px 10px;
	background-color: #32CD32;
	border: 3px solid gray;
}

input[type=submit]:hover {background-color: #008000}

input[type=submit]:active {
	border: 3px solid white;
	background-color: #008000;
}

input[type=text], input[type=password], input[type=url]{
	padding: 6px;
	border: 3px solid gray;
}

input[type=text]:focus,input[type=password]:focus,input[type=url]:focus {
	/*border: 3px solid black;
	font-size: 16px;
	transition: 0.3s;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;*/
}

#active {
	color: #A5FEE3;
}
