.menuimg{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

h1, h2, h3, ul{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-style: normal;
	font-variant: normal;
	display: block;
	text-align: center;
}

p {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	width: 100%;
}

.comment-name{
	text-align: center;
}

.request p,.offer p{
	margin-top: 0;
	margin-bottom: 0;
}

.request td, .offer td {
	padding-bottom: 0;
}

.topbar-padding {
	width: 100%;
	background-color: #333333;
}

.topbar {
	font-size: 24px;
	position:relative;
	margin: auto;
	width: 80%;
}

.photoBanner img {
	width: 50%;
	display: inline-block;
	margin: 0 auto;
}

ul#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	white-space: nowrap;
}

ul#header li {
	right: 0;
	color: white;
	padding: 10px;
	font-size: 20px;
}

ul#header li a {
	display: inline;
	color: white;
	text-decoration: none;
}

ul#header li a:hover {
	text-decoration: underline;
	color: #EDEF85;
	cursor: pointer;
}

ul#header li input[type=text] {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-weight: bolder;
	transition: 0.5s;
	width: 400px;
	color: BLACK;
	font-size: 12px;
}

ul#header li input[type=text]:focus {
	background: #E6FCFF;
	transition: 0.5s;
}


ul#footer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	position: fixed;
	display: block;
	white-space: nowrap;
  right: 0;
  bottom: 0;
  left: 0;
}

ul#footer li {
	display: inline-grid;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}

ul#footer li a {
	text-align: center;
	color: white;
	text-decoration: none;
}

ul.menu {
	height: 100%;
	z-index:1;
	bottom: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	background-color: #f1f1f1;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li a {
	margin: 0;
	padding: 0;
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 20px;
	width: 200px;
	color: #000;
	border: 3px white solid;
}

ul.menu li a:hover {
	text-decoration: underline;
}

.user{
	float: right;
	display: block;
	border-right: none;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.sidebarImg{
	display: block;
	margin: 0 auto;
	width: 80%;

}

table{
	/*max-width: 2px;*/
	 width:100%;
    text-overflow: ellipsis;
}

.twincols-1{
	width: 20%;
	border: 1px solid #ededed;
}

.twincols-2{
	width: 80%;
	padding-right: 40px;
	padding-left: 40px;
	border: 1px solid #ededed;
}

.offer, .request {
	border-left: 3px gray solid;
	background-color: #f1f1f1;
	margin-bottom: 60px;
	border-collapse: collapse;
}

.offer, .request td{
	border-bottom: 3px white solid;
	border-right: 2px white solid;
	background-color: #f1f1f1;
}

.request img, .offer img{
	display: block;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	height:auto;
}

td, th{
	margin-top: 20px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
	vertical-align: top;
	margin: 10px auto;
	padding: 10px;
	border-radius: 2px;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.content {
	position: relative;
	margin: 10px auto;
	width: 80%;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 100px;
}

.container{
	position:static;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 50px;
}

.banner{
	padding: 10px 20px;
	margin: 0;
	background-color: #b31b1b;
}

.icon{
	height: 30px;
	width: auto;
	float: right;
}

.bookForm{
	float: left;
	display: inline;
  text-align: center;
}

#profile {
	padding-top: 20px;
	padding-right: 10px;
	margin-left: 10px;
	float: center;
	text-align: center;
	text-transform: capitalize;
}
#profile li {
	list-style-type: none;
}

#profile img {
	width: 40%;
	height: auto;
}


#profile .name {
	font-size: 30px;
	font-weight: bold;
}

#profile .pastPosts a {
	background-color: #f1f1f1;
	color: black;
	font-size: 20px;
	padding: 14px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

input[type=submit] {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	margin:0px auto;
	color: #fff;
	border-radius: 2px;
	padding: 4px 10px;
	background-color: #62A9FF;
	border: 2px solid gray;
}

input[type=submit]:hover {background-color: #2897B7}

input[type=submit]:active {
	border: 3px solid white;
	background-color: #2897B7;
}

input[type=text], input[type=password], input[type=url], input[type=datetime]{
	padding: 6px;
	border: 3px solid gray;
}

input[type=number], input[type=password], input[type=url], input[type=datetime]{
	padding: 6px;
	border: 3px solid gray;
}

input[type=text]:focus,input[type=password]:focus,input[type=url]:focus,input[type=datetime]:focus {
	/*border: 3px solid black;
	font-size: 16px;
	transition: 0.3s;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;*/
}

#active {
	background-color: #555;
	color: #EDEF85;
}
